# Dependencies
node_modules/
**/node_modules/

# Production
dist/
build/
*.local

# Large Media (This was your "408 error" cause)
*.mp4
*.mov
*.avi
public/website.mp4

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*